
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F8FAFC;
  color: #0F172A;
}


.app-container {
  width: 100%;
}

.navbar {
  background-color: #1E293B;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.nav-left {
  display: flex;
  gap: 50px;
}


.nav-link {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  transition: 0.3s;
}

.nav-link:hover {
  color: #38BDF8;
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}


.employee-info {
  text-align: center;
  line-height: 1.5;
  font-size: 17px;
  font-weight: bold;
  color: #E2E8F0;
}


.logout-box {
  background-color: transparent;
  color: white;

  border: 2px solid #38BDF8;
  padding: 10px 18px;

  border-radius: 8px;
  cursor: pointer;

  font-size: 15px;
  font-weight: bold;

  transition: 0.3s;
}

.logout-box:hover {
  background-color: #38BDF8;
  color: #0F172A;
}

.main-container {
  padding: 40px 60px;
  text-align: left;
}

.home-text {
  font-size: 34px;
  font-weight: bold;
  color: #0F172A;
  margin-bottom: 12px;
}

.welcome-txt {
  font-size: 24px;
  color: #334155;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  padding-left: 60px;
  color: #0F172A;
}

.container h3 {
  font-size: 40px;
  margin-bottom: 25px;
  text-decoration: underline;

  color: #1E293B;
}

.profile-details,
.task-list {
  width: 100%;
}

.profile-details p,
.task-list p {
  font-size: 22px;
  margin: 15px 0;
  padding: 0;

  color: #0F172A;
  text-align: left;
  font-weight: 400;

  line-height: 1.5;
}

.shift-note {
  margin-top: 18px;
  font-weight: bold;
  font-size: 22px;
  color: #0F172A;
  line-height: 1.5;
}

.login-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 28px;
  font-weight: bold;
  color: #1E293B;
}

.form-container {
  width: 350px;
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 15px;
  margin: 80px auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}


.welcome-btn {
  text-align: center;
  margin-top: 40px;
  color: #1E293B;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: bold;
}

.form-container h1 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 25px;
  color: #1E293B;
}


.email-box,
.password-box {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #ccc;
  background-color: white;
  color: #0F172A;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
  box-sizing: border-box;
}


.email-box:focus,
.password-box:focus {
  border-color: #4facfe;
  box-shadow: 0 0 8px rgba(79, 172, 254, 0.5);
}


.login-btn {
  width: 30%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: #1E293B;
  color: white;
  font-size: 18px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  transition: 0.3s;
}


.login-btn:hover {
  border-color: #4facfe;
  box-shadow: 0 0 8px rgba(79, 172, 254, 0.5);
  transform: scale(1.06);
}


.login-btn:active {
  transform: scale(0.98);
}




